.vscode/**
.vscode-test/**
src/**
out/**
node_modules/**
esbuild.js
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
.github/**
.direnv/**
.envrc
.pre-commit-config.yaml
Justfile
flake.nix
flake.lock
vsix.nix
